@import "../variables";
.pagination {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: $background;
  border: 2px solid $main;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next {
  margin: 0 10px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  border-left: 2.5rem solid $main;
}
.prev {
  margin: 0 10px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  border-right: 2.5rem solid $main;
}

.paginationItem.active {
  border: 1px solid $darkgrey;
  color: $grey;
  pointer-events: none;
}

.prev.disabled {
  pointer-events: none;
  margin: 0 10px;
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  border-right: 2.5rem solid $grey;
}
.next.disabled {
  pointer-events: none;
  margin: 0 10px;
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  border-left: 2.5rem solid $grey;
}
